<div class="date-join-bubble-container" id= "date-join-bubble-container">
  <div class="date-join-bubble">
    <p>December 18, 2019</p>
  </div>
</div>
{% for message in messages %}
      <div class="msg">
        <div class="bubble">
          <div class="txt">
            <span class="name">{{message.author}}</span>
            <span class="timestamp"> {{message.time}}</span>
            <span class="message">
              {{message.text}}
            </span>
          </div>
          <div class="bubble-arrow" id ="b"></div>
        </div>
      </div>
      <!-- <div class="msg">
        <div class="bubble alt">
          <div class="txt">
            <span class="name alt"> {{message.author}}
            </span>
            <span class="timestamp">{{message.time}}</span>
            <p class="message">{{message.text}}</p>
          </div>
          <div class="bubble-arrow alt"></div>
        </div>
      </div> -->
{% endfor %}
