<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | SpaceJs</title>
    <link rel="stylesheet" href="../static/styles/dark.css">
    <link rel="icon" href="../static/images/razor.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script type="text/javascript"src="../static/scripts/functions.js"></script>
  </head>
  <body class = "body">
    <div class="d-flex justify-content-center">
      <div class="signin-container">
        <div class="wrapper">
          <div class="container">
            <div class="form-header-image">
              <img src="../static/images/user-icon.png">
            </div>
              <div class="form-header">
                <h1>Welcome to Razor!</h1>
                <p>Let's get started</p>
              </div>
              <form class="signin-form">
                <input type="text"  name="username" id = "space-name" placeholder="Enter a username">
                <div class="error-message" id = "login-error-section">
                  <p id = "login-error-paragraph" >error</p>
                </div>
                <div class="">
                  <button type="button" role = "button" name="continue-button" onclick="add_user()">Continue</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
