@charset "UTF-8";
html, .body {
  background-color: #070a1d;
  height: 100%;
}

/*-------------------------------------------
SIGN IN PAGE
--------------------------------------------*/
.signin-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: #0c0e1f;
  border-radius: 8px;
  width: 550px;
  margin: 140px 15px 15px 15px;
  text-align: center;
  float: none;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(225, 9, 230, 0.3);
}

.container .form-header > h1 {
  color: #e109e6;
  font-size: 30px;
}

.container .form-header p {
  color: #757575;
}

.container {
  display: block;
  margin: 41px;
}

.container .signin-form, .container .channel-form, .container .join-form {
  display: grid;
  width: 98%;
  float: none;
  margin: 0 auto;
}

.signin-form input[type=text], .channel-form input[type=text], .join-form input[type=text], input[type=email], input[type=password] {
  border-radius: 4px;
  border: 0px;
  background-color: #131630;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.error-message {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}

.error-message p {
  color: red;
}

.error-message {
  display: none;
}

.signin-form button, .channel-form button, .join-form button {
  border-radius: 30px;
  border: 0px;
  width: 50%;
  font-weight: bold;
  color: #e5f1fb;
  background: #e109e6;
  height: 40px;
  text-align: center;
  align-self: center;
}

/*-------------------MAIN PAGE-----------------------*/
.grid {
  height: 100%;
  display: flex;
  grid-template-columns: 250px auto;
  overflow-y: hidden;
}

.arrow-right {
  width: 5%;
  padding-left: 0px;
  position: absolute;
  z-index: 10;
  float: left;
  height: 78%;
  margin-top: 75px;
}

.arrow-right div {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  left: -25px;
  width: 55px;
  margin-top: 300px;
  height: 55px;
  padding-top: 15px;
  padding-left: 14px;
  visibility: visible;
}

.arrow-right div a {
  marign-top: 30px;
}

.side-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-panel, .side-panel-header {
  color: white;
  font-weight: bold;
  float: left;
  padding-left: 9px;
  width: 100%;
}

.side-panel-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  cursor: pointer;
}

.side-panel-header i {
  font-size: 30px;
}

.user-image {
  margin-right: 15px;
  border-radius: 50%;
  width: 53px;
  text-align: center;
  background: #131630;
  margin-top: 7px;
}

.user-image i {
  margin-top: 9px;
}

.user-image img {
  width: 53px;
  height: 53px;
  border-radius: 100%;
}

.user-details {
  font-size: 20px;
  padding-top: 16px;
  font-weight: lighter;
}

.channels-header {
  display: flex;
  flex-direction: row;
}

.channels-paragraph {
  width: 90%;
}

.channels-paragraph p {
  font-size: 20px;
  color: #999999;
  padding-left: 25px;
}

.add-channel-section {
  width: 10%;
}

.add-channel-section img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main-panel {
  background-color: #070a1d;
  float: right;
  width: 100%;
  height: 100%;
  margin-left: 5px;
}

.main-panel .mesgs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-container {
  display: flex;
  flex-direction: row;
  background-color: #070a1d;
  width: 420px;
  position: relative;
  margin-right: 5px;
  display: none;
}

.scrollbar, .messages-scroll {
  background-color: #070a1d;
  border-right: 0px solid #ca1ed0;
  float: left;
  overflow-y: hidden;
}

.scrollbar {
  word-wrap: break-word;
  max-width: 450px;
  width: 100%;
}

.main-panel {
  -webkit-box-shadow: -1px 0px 10px 1px rgba(225, 9, 230, 0.3);
  -moz-box-shadow: -1px 0px 10px 1px rgba(225, 9, 230, 0.3);
  box-shadow: -1px 0px 10px 1px rgba(225, 9, 230, 0.3);
}

.messages-scroll {
  display: flex;
  flex-direction: column;
  height: 78%;
  border: 0px;
  margin-top: 5px;
}

.force-overflow {
  min-height: 10px;
}

.channel-list-container {
  width: 100%;
}

.channel-list {
  max-width: 350px;
  padding-left: 7px;
  width: 100%;
}

.channel-list li {
  text-decoration: none;
  list-style: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  color: #999999;
  font-size: 18px;
  font-weight: lighter;
  width: 100%;
}

.channel-list li span {
  background: #ca1ed0;
  float: right;
  border-radius: 50%;
  color: white;
}

.channel-list li:hover {
  background-color: #260a39;
}

.scrollbar:hover, .messages-scroll:hover {
  overflow-y: auto;
}

#style-15::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

#style-15::-webkit-scrollbar-thumb {
  background-color: #ca1ed0;
  border-radius: 2px;
  height: 50px;
}

#style-15::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.chat-header {
  display: flex;
  padding-left: 20px;
  color: white;
  height: 70px;
  font-size: 20px;
  padding-top: 5px;
  -webkit-box-shadow: 0 6px 4px -4px black;
  -moz-box-shadow: 0 6px 4px -4px black;
  box-shadow: 0 6px 4px -4px rgba(225, 9, 230, 0.3);
}

.chat-header .image-section {
  border-radius: 50%;
  width: 50px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  marign-top: 40px;
  margin-right: 15px;
  font-size: 26px;
}

.chat-header .name-section {
  padding-top: 15px;
  font-size: 23px;
}

.message-history {
  padding-top: 10px;
}

.date-join-bubble-container {
  display: flex;
  justify-content: center;
}

.incoming-message-image img {
  display: inline-block;
  width: 6%;
}

.date-join-bubble {
  width: fit-content;
  border-radius: 13px;
  background: rgba(19, 22, 48, 0.3);
  height: 25px;
  font-size: 13px;
  color: #74757c;
}

.date-join-bubble p {
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 3px;
}

.received-message {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 70%;
}

.received-message-width p {
  background: linear-gradient(90deg, #1307c2 0%, #833ab4 44%, #ce1cd1 100%);
  border-radius: 3px;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 13px 10px 13px 12px;
  width: 100%;
}

.time-date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.outgoing-message {
  margin-top: 10px;
  padding-bottom: 90px;
  padding-right: 10px;
}

.outgoing-message-image img {
  display: inline-block;
  width: 6%;
  float: right;
}

.sent-message {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 70%;
  float: right;
}

.sent-message-width p {
  background: linear-gradient(90deg, #e208e6 0%, #833ab4 58%, #1307c2 85%);
  border-radius: 3px;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 13px 10px 13px 12px;
  width: 100%;
}

.msg {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  margin-bottom: 5px;
}
.msg .in-chat-user-icon {
  font-size: 28px;
  color: white;
  background: #131630;
  border-radius: 100%;
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  margin-left: 5px;
}
.msg .image-alt {
  margin-top: 17px;
  margin-right: 7px;
}
.msg .in-chat-user-icon img {
  width: 53px;
  height: 53px;
  border-radius: 100%;
}
.msg .bubble {
  float: left;
  max-width: 75%;
  min-width: 127px;
  width: auto;
  height: auto;
  display: block;
  background: #131630;
  border-radius: 5px;
  position: relative;
  margin: 10px 0 3px 7px;
  text-align: left;
}
.msg .bubble.alt {
  margin: 10px 4px 3px auto;
  background: #131630;
}
.msg .bubble.follow {
  margin: 2px 0 3px 25px;
}
.msg .bubble.altfollow {
  margin: 2px 25px 3px 0px;
  background: red;
  float: right;
}
.msg .bubble .txt {
  padding: 8px 0 8px 0;
  width: 100%;
}
.msg .bubble .txt .name {
  font-weight: 600;
  font-size: 14px;
  display: inline-table;
  padding: 0 0 0 15px;
  margin: 0 0 4px 0;
  color: white;
}
.msg .bubble .txt .name span {
  font-weight: normal;
  color: #999999;
  overflow: hidden;
}
.msg .bubble .txt .name.alt {
  color: white;
}
.msg .bubble .txt .message {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
  margin: auto;
  color: #999999;
  display: table;
}
.msg .bubble .txt .timestamp {
  font-size: 11px;
  margin: auto;
  padding: 0 15px 0 0;
  display: table;
  float: right;
  position: relative;
  text-transform: uppercase;
  color: #999;
}
.msg .bubble .bubble-arrow {
  position: absolute;
  float: left;
  left: -11px;
  top: 0px;
  background-color: red;
}
.msg .bubble .bubble-arrow.alt {
  color: red;
  bottom: 20px;
  left: auto;
  right: 4px;
  float: right;
}
.msg .bubble .bubble-arrow:after {
  content: "";
  position: absolute;
  border-top: 15px solid #131630;
  border-left: 15px solid transparent;
  border-radius: 4px 0 0 0px;
  width: 0;
  height: 0;
  color: #212529;
}
.msg .bubble .bubble-arrow.alt:after {
  border-top: 15px solid;
  transform: scaleX(-1);
  color: #131630;
}

.msg .bubble .txt .message {
  margin-left: 0px;
}

.msg .bubble .bubble-arrow:before {
  color: #212529;
}

.type-message {
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12%;
  padding-top: 15px;
  padding-right: 10px;
}

.write-message {
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  width: 90%;
}

.write-message textarea {
  display: none;
}

.button-send-section {
  width: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 11px;
  margin-left: 3px;
}

@media screen and (min-width: 440px) {
  .button-send-section {
    padding-left: 0px;
  }
}
.message-send-button {
  background: linear-gradient(90deg, #ce1cd1 0%, #833ab4 21%, #1307c2 100%);
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
  height: 38px;
  position: absolute;
  top: 20px;
  width: 38px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 170px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  text-align: center;
  /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
  width: 60%;
  background: #0b0d1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  padding-bottom: 29px;
  border-radius: 7px;
  box-shadow: -6px 5px rgba(225, 9, 230, 0.1);
}

.popup-header {
  display: flex;
  margin-top: 20px;
}

.popup-title {
  width: 95%;
}

.popup-close {
  margin-right: 10px;
}

.channel-form, .join-form {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 26px;
}
.channel-form input[type=text], .join-form input[type=text] {
  width: 100%;
}

.join-form {
  display: flex;
  justify-content: center;
}

.join-button button {
  width: 100px;
  margin-right: 20px;
}

/* The Close Button */
.popup-header .close {
  color: #333333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup-header .close:hover,
.popup-header .close:focus {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1125px) {
  .side-container {
    display: block;
  }
}
@media screen and (min-width: 697px) {
  .write-message {
    width: 93%;
  }

  .button-send-section {
    width: 7%;
  }
}
body {
  background: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

.profile {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: white;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
}

.back-button-section {
  padding-top: 12px;
  padding-left: 7px;
}

.back-button-section img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.avatar-upload {
  position: relative;
  width: fit-content;
  margin: 50px auto 20px auto;
  display: flex;
  justify-content: center;
}
.avatar-upload .avatar-edit {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
.avatar-upload .avatar-preview {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 100%;
  border: 2px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.theme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.switch-button {
  background-color: #131630;
  border-color: 0px #262626;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 100px;
  border-radius: 41px;
  height: 39px;
  width: 128px;
  color: white;
}

.onoffswitch {
  position: relative;
  width: 126px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #FFFFFF;
  border-radius: 20px;
  height: 34px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
}

.onoffswitch-switch {
  display: block;
  width: 12px;
  margin: 5px;
  background: blue;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*# sourceMappingURL=dark.css.map */
